.empty-movies-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .empty-list {
    margin: 0;
    text-align: center;
    padding: 20px;

    button {
      margin-top: 40px;
    }
  }
}

.movies-wrapper {
  padding-bottom: 20px;

  .header {
    display: flex;
    padding: 60px 0;

    @media only screen and (max-width: 991px) {
      padding: 42px 0;
    }

    @media only screen and (max-width: 767px) {
      padding: 32px 0;
    }

    .title {
      display: flex;
      align-items: center;

      button {
        display: inline-flex;
        align-items: center;
        margin-left: 15px;

        @media only screen and (max-width: 600px) {
          margin-left: 10px;
        }
      }
    }

    .icon-text-btn {
      margin-left: auto;
    }
  }

  .movies-listing {
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media only screen and (max-width: 991px) {
      gap: 14px;
    }

    .movie-card {
      background: #092c39;
      display: inline-block;
      border-radius: 12px;
      padding: 8px;
      width: calc(100% / 4 - 18px);

      @media only screen and (max-width: 991px) {
        width: calc(100% / 3 - 10px);
      }

      @media only screen and (max-width: 600px) {
        width: calc(100% / 2 - 10px);
      }

      .movie-img {
        height: 400px;
        border-radius: 12px;
        overflow: hidden;

        @media only screen and (max-width: 1280px) {
          height: 340px;
        }

        @media only screen and (max-width: 1080px) {
          height: 260px;
        }

        @media only screen and (max-width: 991px) {
          height: 210px;
        }

        @media only screen and (max-width: 600px) {
          height: 170px;
        }

        @media only screen and (max-width: 340px) {
          height: 150px;
        }
      }

      .movie-details {
        margin: 16px 0 8px;
        padding: 0 8px;
        display: flex;
        align-items: flex-start;

        h3 {
          font-size: calc(clamp(1.125rem, 0.125vw + 1.1rem, 1.25rem));
          margin-bottom: 8px;
          color: white;
        }

        span {
          color: white;
          font-size: calc(clamp(0.75rem, 0.125vw + 0.725rem, 0.875rem));
        }

        button {
          height: 20px;
          background: transparent;
          padding: 0;
          margin-left: auto;
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          img {
            max-width: 20px;
          }
        }
      }

      .movie-img {
        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  .pagination {
    margin-top: 120px;

    @media only screen and (max-width: 1280px) {
      margin-top: 80px;
    }

    @media only screen and (max-width: 1280px) {
      margin-top: 65px;
    }
  }
}
